@charset "UTF-8";

.r-checkbox,
.r-checkbox__input {
  display: inline-block;
  position: relative
}

.r-checkbox-button__inner,
.r-checkbox__input {
  white-space: nowrap;
  vertical-align: middle;
  outline: 0
}

.r-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 30px
}

.r-checkbox.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  height: 40px
}

.r-checkbox.is-bordered.is-checked {
  border-color: #409EFF
}

.r-checkbox.is-bordered.is-disabled {
  border-color: #EBEEF5;
  cursor: not-allowed
}

.r-checkbox.is-bordered+.r-checkbox.is-bordered {
  margin-left: 10px
}

.r-checkbox.is-bordered.r-checkbox--medium {
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  height: 36px
}

.r-checkbox.is-bordered.r-checkbox--medium .r-checkbox__label {
  line-height: 17px;
  font-size: 14px
}

.r-checkbox.is-bordered.r-checkbox--medium .r-checkbox__inner {
  height: 14px;
  width: 14px
}

.r-checkbox.is-bordered.r-checkbox--small {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__label {
  line-height: 15px;
  font-size: 12px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__inner {
  height: 12px;
  width: 12px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__inner::after {
  height: 6px;
  width: 2px
}

.r-checkbox.is-bordered.r-checkbox--mini {
  padding: 3px 15px 3px 10px;
  border-radius: 3px;
  height: 28px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__label {
  line-height: 12px;
  font-size: 12px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__inner {
  height: 12px;
  width: 12px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__inner::after {
  height: 6px;
  width: 2px
}

.r-checkbox__input {
  cursor: pointer;
  line-height: 1
}

.r-checkbox__input.is-disabled .r-checkbox__inner {
  background-color: #edf2fc;
  border-color: #DCDFE6;
  cursor: not-allowed
}

.r-checkbox__input.is-disabled .r-checkbox__inner::after {
  cursor: not-allowed;
  border-color: #C0C4CC
}

.r-checkbox__input.is-disabled .r-checkbox__inner+.r-checkbox__label {
  cursor: not-allowed
}

.r-checkbox__input.is-disabled.is-checked .r-checkbox__inner {
  background-color: #F2F6FC;
  border-color: #DCDFE6
}

.r-checkbox__input.is-disabled.is-checked .r-checkbox__inner::after {
  border-color: #C0C4CC
}

.r-checkbox__input.is-disabled.is-indeterminate .r-checkbox__inner {
  background-color: #F2F6FC;
  border-color: #DCDFE6
}

.r-checkbox__input.is-disabled.is-indeterminate .r-checkbox__inner::before {
  background-color: #C0C4CC;
  border-color: #C0C4CC
}

.r-checkbox__input.is-checked .r-checkbox__inner,
.r-checkbox__input.is-indeterminate .r-checkbox__inner {
  background-color: #3169F6;
  border-color: #3169F6;
}

.r-checkbox__input.is-disabled+span.r-checkbox__label {
  color: #C0C4CC;
  cursor: not-allowed
}

.r-checkbox__input.is-checked .r-checkbox__inner::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1)
}

.r-checkbox__input.is-checked+.r-checkbox__label {
  color: #3169F6;
}

.r-checkbox__input.is-focus .r-checkbox__inner {
  border-color: #3169F6;
}

.r-checkbox__input.is-indeterminate .r-checkbox__inner::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #FFF;
  height: 2px;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  left: 0;
  right: 0;
  top: 5px
}

.r-checkbox__input.is-indeterminate .r-checkbox__inner::after {
  display: none
}

.r-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  z-index: 1;
  -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.r-checkbox__inner:hover {
  border-color: #409EFF
}

.r-checkbox__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 1px solid #FFF;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  -webkit-transition: -webkit-transform .15s ease-in .05s;
  transition: -webkit-transform .15s ease-in .05s;
  transition: transform .15s ease-in .05s;
  transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
  -webkit-transform-origin: center;
  transform-origin: center
}

.r-checkbox__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1
}

.r-checkbox-button,
.r-checkbox-button__inner {
  display: inline-block;
  position: relative
}

.r-checkbox__label {
  display: inline-block;
  padding-left: 8px;
  line-height: 19px;
  font-size: 14px
}

.r-checkbox:last-of-type {
  margin-right: 0
}

.r-checkbox-button__inner {
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  border-left: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0
}

.r-checkbox-button__inner.is-round {
  padding: 12px 20px
}

.r-checkbox-button__inner:hover {
  color: #409EFF
}

.r-checkbox-button__inner [class*=r-icon-] {
  line-height: .9
}

.r-checkbox-button__inner [class*=r-icon-]+span {
  margin-left: 5px
}

.r-checkbox-button__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  z-index: -1
}

.r-checkbox-button.is-checked .r-checkbox-button__inner {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
  box-shadow: -1px 0 0 0 #8cc5ff
}

.r-checkbox-button.is-checked:first-child .r-checkbox-button__inner {
  border-left-color: #409EFF
}

.r-checkbox-button.is-disabled .r-checkbox-button__inner {
  color: #C0C4CC;
  cursor: not-allowed;
  background-image: none;
  background-color: #FFF;
  border-color: #EBEEF5;
  -webkit-box-shadow: none;
  box-shadow: none
}

.r-checkbox-button.is-disabled:first-child .r-checkbox-button__inner {
  border-left-color: #EBEEF5
}

.r-checkbox-button:first-child .r-checkbox-button__inner {
  border-left: 1px solid #DCDFE6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.r-checkbox-button.is-focus .r-checkbox-button__inner {
  border-color: #409EFF
}

.r-checkbox-button:last-child .r-checkbox-button__inner {
  border-radius: 0 4px 4px 0
}

.r-checkbox-button--medium .r-checkbox-button__inner {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0
}

.r-checkbox-button--medium .r-checkbox-button__inner.is-round {
  padding: 10px 20px
}

.r-checkbox-button--small .r-checkbox-button__inner {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 0
}

.r-checkbox-button--small .r-checkbox-button__inner.is-round {
  padding: 9px 15px
}

.r-checkbox-button--mini .r-checkbox-button__inner {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0
}

.r-checkbox-button--mini .r-checkbox-button__inner.is-round {
  padding: 7px 15px
}

.r-checkbox-group {
  font-size: 0
}
.r-checkbox {
  svg.icon {
    font-size: 18px;
  }
}

// 2021-11-25
.r-checkbox__select2 {
  font-size: 18px !important;
}
.r-checkbox__input.is-disabled .r-checkbox__select2 {
  color: #B3B3B3 !important;
  cursor: not-allowed
}
.r-checkbox__input.is-disabled .r-checkbox__select2+.r-checkbox__label {
  cursor: not-allowed
}
.r-checkbox__input.is-checked .r-checkbox__select2 {
  color: #639CF0;
}
