.r-popper .popper__arrow,
.r-popper .popper__arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.r-popper .popper__arrow {
  border-width: 6px;
  -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03))
}

.r-popper .popper__arrow::after {
  content: " ";
  border-width: 6px
}

.r-popper[x-placement^=top] {
  margin-bottom: 12px
}

.r-popper[x-placement^=top] .popper__arrow {
  bottom: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-color: #EBEEF5;
  border-bottom-width: 0
}

.r-popper[x-placement^=top] .popper__arrow::after {
  bottom: 1px;
  margin-left: -6px;
  border-top-color: #FFF;
  border-bottom-width: 0
}

.r-popper[x-placement^=bottom] {
  margin-top: 12px
}

.r-popper[x-placement^=bottom] .popper__arrow {
  top: -6px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #EBEEF5
}

.r-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #FFF
}

.r-popper[x-placement^=right] {
  margin-left: 12px
}

.r-popper[x-placement^=right] .popper__arrow {
  top: 50%;
  left: -6px;
  margin-bottom: 3px;
  border-right-color: #EBEEF5;
  border-left-width: 0
}

.r-popper[x-placement^=right] .popper__arrow::after {
  bottom: -6px;
  left: 1px;
  border-right-color: #FFF;
  border-left-width: 0
}

.r-popper[x-placement^=left] {
  margin-right: 12px
}

.r-popper[x-placement^=left] .popper__arrow {
  top: 50%;
  right: -6px;
  margin-bottom: 3px;
  border-right-width: 0;
  border-left-color: #EBEEF5
}

.r-popper[x-placement^=left] .popper__arrow::after {
  right: 1px;
  bottom: -6px;
  margin-left: -6px;
  border-right-width: 0;
  border-left-color: #FFF
}

.r-select-dropdown {
  position: absolute;
  z-index: 10001;
  border: 1px solid #E4E7ED;
  border-radius: 4px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0
}

.r-select-dropdown.is-multiple .r-select-dropdown__item.selected {
  color: #3169F6;
  background-color: #FFF
}

.r-select-dropdown.is-multiple .r-select-dropdown__item.selected.hover {
  background-color: #F5F7FA
}

.r-select-dropdown.is-multiple .r-select-dropdown__item.selected::after {
  position: absolute;
  right: 20px;
  font-family: element-icons;
  content: "\e6da";
  font-size: 12px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.r-select-dropdown .r-scrollbar.is-empty .r-select-dropdown__list {
  padding: 0
}

.r-select-dropdown__empty {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: #999;
  font-size: 14px
}

.r-select-dropdown__wrap {
  max-height: 274px
}

.r-select-dropdown__list {
  list-style: none;
  padding: 6px 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.r-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px
}

.r-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.r-input__inner,
.r-tag {
  -webkit-box-sizing: border-box
}

.r-textarea__inner::-webkit-input-placeholder {
  color: #C0C4CC
}

.r-textarea__inner:-ms-input-placeholder {
  color: #C0C4CC
}

.r-textarea__inner::-ms-input-placeholder {
  color: #C0C4CC
}

.r-textarea__inner::placeholder {
  color: #C0C4CC
}

.r-textarea__inner:hover {
  border-color: #C0C4CC
}

.r-textarea__inner:focus {
  outline: 0;
  border-color: #409EFF
}

.r-textarea .r-input__count {
  color: #909399;
  background: #FFF;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px
}

.r-textarea.is-disabled .r-textarea__inner {
  background-color: #F5F7FA;
  border-color: #E4E7ED;
  color: #C0C4CC;
  cursor: not-allowed
}

.r-textarea.is-disabled .r-textarea__inner::-webkit-input-placeholder {
  color: #C0C4CC
}

.r-textarea.is-disabled .r-textarea__inner:-ms-input-placeholder {
  color: #C0C4CC
}

.r-textarea.is-disabled .r-textarea__inner::-ms-input-placeholder {
  color: #C0C4CC
}

.r-textarea.is-disabled .r-textarea__inner::placeholder {
  color: #C0C4CC
}

.r-textarea.is-exceed .r-textarea__inner {
  border-color: #F56C6C
}

.r-textarea.is-exceed .r-input__count {
  color: #F56C6C
}

.r-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%
}

.r-input::-webkit-scrollbar {
  z-index: 11;
  width: 6px
}

.r-input::-webkit-scrollbar:horizontal {
  height: 6px
}

.r-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc
}

.r-input::-webkit-scrollbar-corner {
  background: #fff
}

.r-input::-webkit-scrollbar-track {
  background: #fff
}

.r-input::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px
}

.r-input .r-input__clear {
  color: #C0C4CC;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color .2s cubic-bezier(.645, .045, .355, 1);
  transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.r-input .r-input__clear:hover {
  color: #909399
}

.r-input .r-input__count {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #909399;
  font-size: 12px
}

.r-input .r-input__count .r-input__count-inner {
  background: #FFF;
  line-height: initial;
  display: inline-block;
  padding: 0 5px
}

.r-input__inner {
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  width: 100%
}

.r-input__prefix,
.r-input__suffix {
  position: absolute;
  top: 0;
  -webkit-transition: all .3s;
  height: 100%;
  color: #C0C4CC;
  text-align: center
}

.r-input__inner::-webkit-input-placeholder {
  color: #C0C4CC
}

.r-input__inner:-ms-input-placeholder {
  color: #C0C4CC
}

.r-input__inner::-ms-input-placeholder {
  color: #C0C4CC
}

.r-input__inner::placeholder {
  color: #C0C4CC
}

.r-input__inner:hover {
  border-color: #C0C4CC
}

.r-input.is-active .r-input__inner,
.r-input__inner:focus {
  border-color: #409EFF;
  outline: 0
}

.r-input__suffix {
  right: 5px;
  transition: all .3s;
  pointer-events: none
}

.r-input__suffix-inner {
  pointer-events: all
}

.r-input__prefix {
  left: 5px;
  transition: all .3s
}

.r-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px
}

.r-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle
}

.r-input__validateIcon {
  pointer-events: none
}

.r-input.is-disabled .r-input__inner {
  background-color: #F5F7FA;
  border-color: #E4E7ED;
  color: #C0C4CC;
  cursor: not-allowed
}

.r-input.is-disabled .r-input__inner::-webkit-input-placeholder {
  color: #C0C4CC
}

.r-input.is-disabled .r-input__inner:-ms-input-placeholder {
  color: #C0C4CC
}

.r-input.is-disabled .r-input__inner::-ms-input-placeholder {
  color: #C0C4CC
}

.r-input.is-disabled .r-input__inner::placeholder {
  color: #C0C4CC
}

.r-input.is-disabled .r-input__icon {
  cursor: not-allowed
}

.r-input.is-exceed .r-input__inner {
  border-color: #F56C6C
}

.r-input.is-exceed .r-input__suffix .r-input__count {
  color: #F56C6C
}

.r-input--suffix .r-input__inner {
  padding-right: 30px
}

.r-input--prefix .r-input__inner {
  padding-left: 30px
}

.r-input--medium {
  font-size: 14px
}

.r-input--medium .r-input__inner {
  height: 36px;
  line-height: 36px
}

.r-input--medium .r-input__icon {
  line-height: 36px
}

.r-input--small {
  font-size: 13px
}

.r-input--small .r-input__inner {
  height: 32px;
  line-height: 32px
}

.r-input--small .r-input__icon {
  line-height: 32px
}

.r-input--mini {
  font-size: 12px
}

.r-input--mini .r-input__inner {
  height: 28px;
  line-height: 28px
}

.r-input--mini .r-input__icon {
  line-height: 28px
}

.r-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0
}

.r-input-group>.r-input__inner {
  vertical-align: middle;
  display: table-cell
}

.r-input-group__append,
.r-input-group__prepend {
  background-color: #F5F7FA;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #DCDFE6;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap
}

.r-input-group--prepend .r-input__inner,
.r-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.r-input-group--append .r-input__inner,
.r-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.r-input-group__append:focus,
.r-input-group__prepend:focus {
  outline: 0
}

.r-input-group__append .r-button,
.r-input-group__append .r-select,
.r-input-group__prepend .r-button,
.r-input-group__prepend .r-select {
  display: inline-block;
  margin: -10px -20px
}

.r-input-group__append button.r-button,
.r-input-group__append div.r-select .r-input__inner,
.r-input-group__append div.r-select:hover .r-input__inner,
.r-input-group__prepend button.r-button,
.r-input-group__prepend div.r-select .r-input__inner,
.r-input-group__prepend div.r-select:hover .r-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0
}

.r-input-group__append .r-button,
.r-input-group__append .r-input,
.r-input-group__prepend .r-button,
.r-input-group__prepend .r-input {
  font-size: inherit
}

.r-input-group__prepend {
  border-right: 0
}

.r-input-group__append {
  border-left: 0
}

.r-input-group--append .r-select .r-input.is-focus .r-input__inner,
.r-input-group--prepend .r-select .r-input.is-focus .r-input__inner {
  border-color: transparent
}

.r-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

.r-tag {
  background-color: #ecf5ff;
  border-color: #d9ecff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #409EFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap
}

.r-tag.is-hit {
  border-color: #409EFF
}

.r-tag .r-tag__close {
  color: #409eff
}

.r-tag .r-tag__close:hover {
  color: #FFF;
  background-color: #409eff
}

.r-tag.r-tag--info {
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #909399
}

.r-tag.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag.r-tag--info .r-tag__close {
  color: #909399
}

.r-tag.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #909399
}

.r-tag.r-tag--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a
}

.r-tag.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag.r-tag--success .r-tag__close {
  color: #67c23a
}

.r-tag.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #67c23a
}

.r-tag.r-tag--warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c
}

.r-tag.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag.r-tag--warning .r-tag__close {
  color: #e6a23c
}

.r-tag.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #e6a23c
}

.r-tag.r-tag--danger {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c
}

.r-tag.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag.r-tag--danger .r-tag__close {
  color: #f56c6c
}

.r-tag.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f56c6c
}

.r-tag .r-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  top: -1px;
  right: -5px
}

.r-tag .r-icon-close::before {
  display: block
}

.r-tag--dark {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff
}

.r-tag--dark.is-hit {
  border-color: #409EFF
}

.r-tag--dark .r-tag__close {
  color: #fff
}

.r-tag--dark .r-tag__close:hover {
  color: #FFF;
  background-color: #66b1ff
}

.r-tag--dark.r-tag--info {
  background-color: #909399;
  border-color: #909399;
  color: #fff
}

.r-tag--dark.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag--dark.r-tag--info .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #a6a9ad
}

.r-tag--dark.r-tag--success {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff
}

.r-tag--dark.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag--dark.r-tag--success .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #85ce61
}

.r-tag--dark.r-tag--warning {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff
}

.r-tag--dark.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag--dark.r-tag--warning .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #ebb563
}

.r-tag--dark.r-tag--danger {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff
}

.r-tag--dark.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag--dark.r-tag--danger .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f78989
}

.r-tag--plain {
  background-color: #fff;
  border-color: #b3d8ff;
  color: #409eff
}

.r-tag--plain.is-hit {
  border-color: #409EFF
}

.r-tag--plain .r-tag__close {
  color: #409eff
}

.r-tag--plain .r-tag__close:hover {
  color: #FFF;
  background-color: #409eff
}

.r-tag--plain.r-tag--info {
  background-color: #fff;
  border-color: #d3d4d6;
  color: #909399
}

.r-tag--plain.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag--plain.r-tag--info .r-tag__close {
  color: #909399
}

.r-tag--plain.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #909399
}

.r-tag--plain.r-tag--success {
  background-color: #fff;
  border-color: #c2e7b0;
  color: #67c23a
}

.r-tag--plain.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag--plain.r-tag--success .r-tag__close {
  color: #67c23a
}

.r-tag--plain.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #67c23a
}

.r-tag--plain.r-tag--warning {
  background-color: #fff;
  border-color: #f5dab1;
  color: #e6a23c
}

.r-tag--plain.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag--plain.r-tag--warning .r-tag__close {
  color: #e6a23c
}

.r-tag--plain.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #e6a23c
}

.r-tag--plain.r-tag--danger {
  background-color: #fff;
  border-color: #fbc4c4;
  color: #f56c6c
}

.r-tag--plain.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag--plain.r-tag--danger .r-tag__close {
  color: #f56c6c
}

.r-tag--plain.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f56c6c
}

.r-tag--medium {
  height: 28px;
  line-height: 26px
}

.r-tag--medium .r-icon-close {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.r-tag--small {
  height: 24px;
  padding: 0 8px;
  line-height: 22px
}

.r-tag--small .r-icon-close {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.r-tag--mini {
  height: 20px;
  padding: 0 5px;
  line-height: 19px
}

.r-tag--mini .r-icon-close {
  margin-left: -3px;
  -webkit-transform: scale(.7);
  transform: scale(.7)
}

.r-select-dropdown__item {
  font-size: 12px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer
}

.r-select-dropdown__item.is-disabled {
  color: #C0C4CC;
  cursor: not-allowed
}

.r-select-dropdown__item.is-disabled:hover {
  background-color: #FFF
}

.r-select-dropdown__item.hover,
.r-select-dropdown__item:hover {
  background-color: #F5F7FA
}

.r-select-dropdown__item.selected {
  color: #409EFF;
  font-weight: 700
}

.r-select-group {
  margin: 0;
  padding: 0
}

.r-select-group__wrap {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0
}

.r-select-group__wrap:not(:last-of-type) {
  padding-bottom: 24px
}

.r-select-group__wrap:not(:last-of-type)::after {
  content: '';
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  bottom: 12px;
  height: 1px;
  background: #E4E7ED
}

.r-select-group__title {
  padding-left: 20px;
  font-size: 12px;
  color: #909399;
  line-height: 30px
}

.r-select-group .r-select-dropdown__item {
  padding-left: 20px
}

.r-scrollbar {
  overflow: hidden;
  position: relative
}

.r-scrollbar:active>.r-scrollbar__bar,
.r-scrollbar:focus>.r-scrollbar__bar,
.r-scrollbar:hover>.r-scrollbar__bar {
  opacity: 1;
  -webkit-transition: opacity 340ms ease-out;
  transition: opacity 340ms ease-out
}

.r-scrollbar__wrap {
  overflow: scroll;
  height: 100%
}

.r-scrollbar__wrap--hidden-default {
  scrollbar-width: none
}

.r-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0
}

.r-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, .3);
  -webkit-transition: .3s background-color;
  transition: .3s background-color
}

.r-scrollbar__thumb:hover {
  background-color: rgba(144, 147, 153, .5)
}

.r-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 120ms ease-out;
  transition: opacity 120ms ease-out
}

.r-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px
}

.r-scrollbar__bar.is-vertical>div {
  width: 100%
}

.r-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px
}

.r-scrollbar__bar.is-horizontal>div {
  height: 100%
}

.r-select {
  display: inline-block;
  position: relative
}

.r-select .r-select__tags>span {
  display: contents
}

.r-select:hover .r-input__inner {
  border-color: #C0C4CC
}

.r-select .r-input__inner {
  cursor: pointer;
  padding-right: 35px
}

.r-select .r-input__inner:focus {
  border-color: #409EFF
}

.r-select .r-input .r-select__caret {
  color: #C0C4CC;
  font-size: 14px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  cursor: pointer
}

.r-select .r-input .r-select__caret.is-reverse {
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0)
}

.r-select .r-input .r-select__caret.is-show-close {
  font-size: 14px;
  text-align: center;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  border-radius: 100%;
  color: #C0C4CC;
  -webkit-transition: color .2s cubic-bezier(.645, .045, .355, 1);
  transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.r-select .r-input .r-select__caret.is-show-close:hover {
  color: #909399
}

.r-select .r-input.is-disabled .r-input__inner {
  cursor: not-allowed
}

.r-select .r-input.is-disabled .r-input__inner:hover {
  border-color: #E4E7ED
}

.r-select .r-input.is-focus .r-input__inner {
  border-color: #3169F6;
}

.r-select>.r-input {
  display: block
}

.r-select__input {
  border: none;
  outline: 0;
  padding: 0;
  margin-left: 15px;
  color: #666;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 28px;
  background-color: transparent
}

.r-select__input.is-mini {
  height: 14px
}

.r-select__close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  z-index: 1000;
  right: 25px;
  color: #C0C4CC;
  line-height: 18px;
  font-size: 14px
}

.r-select__close:hover {
  color: #909399
}

.r-select__tags {
  position: absolute;
  line-height: normal;
  white-space: normal;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.r-select .r-tag__close {
  margin-top: -2px
}

.r-select .r-tag {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: transparent;
  margin: 2px 0 2px 6px;
  background-color: #f0f2f5
}

.r-select .r-tag__close.r-icon-close {
  background-color: #C0C4CC;
  right: -7px;
  top: 0;
  color: #FFF
}

.r-select .r-tag__close.r-icon-close:hover {
  background-color: #909399
}

.r-select .r-tag__close.r-icon-close::before {
  display: block;
  -webkit-transform: translate(0, .5px);
  transform: translate(0, .5px)
}

.r-pagination {
  white-space: nowrap;
  padding: 9px 5px;
  color: #303133;
  font-weight: 700
}

.r-pagination::after,
.r-pagination::before {
  display: table;
  content: ""
}

.r-pagination::after {
  clear: both
}

.r-pagination button,
.r-pagination span:not([class*=suffix]) {
  display: inline-block;
  font-size: 13px;
  min-width: 35.5px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.r-pagination .r-input__inner {
  text-align: center;
  -moz-appearance: textfield;
  line-height: normal
}

.r-pagination .r-input__suffix {
  right: 0;
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.r-pagination .r-select .r-input {
  width: 100px;
  margin: 0 5px
}

.r-pagination .r-select .r-input .r-input__inner {
  padding-right: 25px;
  border-radius: 3px
}

.r-pagination button {
  border: none;
  padding: 0 6px;
  background: 0 0
}

.r-pagination button:focus {
  outline: 0
}

.r-pagination button:hover {
  color: #409EFF
}

.r-pagination button:disabled {
  color: #C0C4CC;
  background-color: #FFF;
  cursor: not-allowed
}

.r-pagination .btn-next,
.r-pagination .btn-prev {
  background: center center no-repeat #FFF;
  background-size: 16px;
  cursor: pointer;
  margin: 0;
  color: #303133
}

.r-pagination .btn-next .r-icon,
.r-pagination .btn-prev .r-icon {
  display: block;
  font-size: 12px;
  font-weight: 700
}

.r-pagination .btn-prev {
  padding-right: 12px
}

.r-pagination .btn-next {
  padding-left: 12px
}

.r-pagination .r-pager li.disabled {
  color: #C0C4CC;
  cursor: not-allowed
}

.r-pager li,
.r-pager li.btn-quicknext:hover,
.r-pager li.btn-quickprev:hover {
  cursor: pointer
}

.r-pagination--small .btn-next,
.r-pagination--small .btn-prev,
.r-pagination--small .r-pager li,
.r-pagination--small .r-pager li.btn-quicknext,
.r-pagination--small .r-pager li.btn-quickprev,
.r-pagination--small .r-pager li:last-child {
  border-color: transparent;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  min-width: 22px
}

.r-pagination--small .arrow.disabled {
  visibility: hidden
}

.r-pagination--small .more::before,
.r-pagination--small li.more::before {
  line-height: 24px
}

.r-pagination--small button,
.r-pagination--small span:not([class*=suffix]) {
  height: 22px;
  line-height: 22px
}

.r-pagination--small .r-pagination__editor,
.r-pagination--small .r-pagination__editor.r-input .r-input__inner {
  height: 22px
}

.r-pagination__sizes {
  margin: 0 10px 0 0;
  font-weight: 400;
  color: #606266
}

.r-pagination__sizes .r-input .r-input__inner {
  font-size: 13px;
  padding-left: 8px
}

.r-pagination__sizes .r-input .r-input__inner:hover {
  border-color: #409EFF
}

.r-pagination__total {
  margin-right: 10px;
  font-weight: 400;
  color: #606266
}

.r-pagination__jump {
  margin-left: 24px;
  font-weight: 400;
  color: #606266
}

.r-pagination__jump .r-input__inner {
  padding: 0 3px
}

.r-pagination__rightwrapper {
  float: right
}

.r-pagination__editor {
  line-height: 18px;
  padding: 0 2px;
  height: 28px;
  text-align: center;
  margin: 0 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px
}

.r-pager,
.r-pagination.is-background .btn-next,
.r-pagination.is-background .btn-prev {
  padding: 0
}

.r-pagination__editor.r-input {
  width: 50px
}

.r-pagination__editor.r-input .r-input__inner {
  height: 28px
}

.r-pagination__editor .r-input__inner::-webkit-inner-spin-button,
.r-pagination__editor .r-input__inner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.r-pagination.is-background .btn-next,
.r-pagination.is-background .btn-prev,
.r-pagination.is-background .r-pager li {
  margin: 0 5px;
  background-color: #f4f4f5;
  color: #606266;
  min-width: 30px;
  border-radius: 2px
}

.r-pagination.is-background .btn-next.disabled,
.r-pagination.is-background .btn-next:disabled,
.r-pagination.is-background .btn-prev.disabled,
.r-pagination.is-background .btn-prev:disabled,
.r-pagination.is-background .r-pager li.disabled {
  color: #C0C4CC
}

.r-pagination.is-background .r-pager li:not(.disabled):hover {
  color: #409EFF
}

.r-pagination.is-background .r-pager li:not(.disabled).active {
  background-color: #409EFF;
  color: #FFF
}

.r-pagination.is-background.r-pagination--small .btn-next,
.r-pagination.is-background.r-pagination--small .btn-prev,
.r-pagination.is-background.r-pagination--small .r-pager li {
  margin: 0 3px;
  min-width: 22px
}

.r-pager,
.r-pager li {
  vertical-align: top;
  display: inline-block;
  margin: 0
}

.r-pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  font-size: 0
}

.r-pager .more::before {
  line-height: 30px
}

.r-pager li {
  margin: 0 12px;
  background: #FFF;
  font-size: 13px;
  min-width: 13px;
  height: 28px;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center
}

.r-pager li.btn-quicknext,
.r-pager li.btn-quickprev {
  line-height: 28px;
  color: #303133
}

.r-pager li.btn-quicknext.disabled,
.r-pager li.btn-quickprev.disabled {
  color: #C0C4CC
}

.r-pager li.active+li {
  border-left: 0
}

.r-pager li:hover {
  color: #409EFF
}

.r-pager li.active {
  color: #409EFF;
  cursor: default
}
