.r-progress {
  position: relative;
  line-height: 1
}

.r-progress__text {
  font-size: 14px;
  color: #606266;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 1
}

.r-progress__text i {
  vertical-align: middle;
  display: block
}

.r-progress--circle,
.r-progress--dashboard {
  display: inline-block
}

.r-progress--circle .r-progress__text,
.r-progress--dashboard .r-progress__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.r-progress--circle .r-progress__text i,
.r-progress--dashboard .r-progress__text i {
  vertical-align: middle;
  display: inline-block
}

.r-progress--without-text .r-progress__text {
  display: none
}

.r-progress--without-text .r-progress-bar {
  padding-right: 0;
  margin-right: 0;
  display: block
}

.r-progress-bar,
.r-progress-bar__inner::after,
.r-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle
}

.r-progress--text-inside .r-progress-bar {
  padding-right: 0;
  margin-right: 0
}

.r-progress.is-success .r-progress-bar__inner {
  background-color: #54B184;
}

.r-progress.is-success .r-progress__text {
  color: #54B184
}

.r-progress.is-warning .r-progress-bar__inner {
  background-color: #797FF3
}

.r-progress.is-warning .r-progress__text {
  color: #797FF3
}

.r-progress.is-exception .r-progress-bar__inner {
  background-color: #F56C6C
}

.r-progress.is-exception .r-progress__text {
  color: #F56C6C
}

.r-progress-bar {
  padding-right: 50px;
  width: 100%;
  margin-right: -55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.r-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 1px solid #D1D1D1;
  }
}

.r-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #4092DF;
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  -webkit-transition: width .6s ease;
  transition: width .6s ease
}

.r-progress-bar__inner::after {
  content: "";
  height: 100%
}

.r-progress-bar__innerText {
  color: #FFF;
  font-size: 12px;
  margin: 0 5px
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: 32px 0
  }
}

@keyframes progress {
  0% {
    background-position: 0 0
  }

  100% {
    background-position: 32px 0
  }
}
