@charset "UTF-8";

.r-checkbox,
.r-checkbox__input {
  display: inline-block;
  position: relative;
  white-space: nowrap
}

.r-table,
.r-table__append-wrapper {
  overflow: hidden
}

.r-table td.is-hidden>*,
.r-table th.is-hidden>*,
.r-table--hidden {
  visibility: hidden
}

.r-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 30px
}

.r-checkbox-button__inner,
.r-table th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.r-checkbox.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  height: 40px
}

.r-checkbox.is-bordered.is-checked {
  border-color: #409EFF
}

.r-checkbox.is-bordered.is-disabled {
  border-color: #EBEEF5;
  cursor: not-allowed
}

.r-checkbox.is-bordered+.r-checkbox.is-bordered {
  margin-left: 10px
}

.r-checkbox.is-bordered.r-checkbox--medium {
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  height: 36px
}

.r-checkbox.is-bordered.r-checkbox--medium .r-checkbox__label {
  line-height: 17px;
  font-size: 14px
}

.r-checkbox.is-bordered.r-checkbox--medium .r-checkbox__inner {
  height: 14px;
  width: 14px
}

.r-checkbox.is-bordered.r-checkbox--small {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__label {
  line-height: 15px;
  font-size: 12px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__inner {
  height: 12px;
  width: 12px
}

.r-checkbox.is-bordered.r-checkbox--small .r-checkbox__inner::after {
  height: 6px;
  width: 2px
}

.r-checkbox.is-bordered.r-checkbox--mini {
  padding: 3px 15px 3px 10px;
  border-radius: 3px;
  height: 28px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__label {
  line-height: 12px;
  font-size: 12px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__inner {
  height: 12px;
  width: 12px
}

.r-checkbox.is-bordered.r-checkbox--mini .r-checkbox__inner::after {
  height: 6px;
  width: 2px
}

.r-checkbox__input {
  cursor: pointer;
  outline: 0;
  line-height: 1;
  vertical-align: middle
}

.r-checkbox__input.is-disabled .r-checkbox__inner {
  background-color: #edf2fc;
  border-color: #DCDFE6;
  cursor: not-allowed
}

.r-checkbox__input.is-disabled .r-checkbox__inner::after {
  cursor: not-allowed;
  border-color: #C0C4CC
}

.r-checkbox__input.is-disabled .r-checkbox__inner+.r-checkbox__label {
  cursor: not-allowed
}

.r-checkbox__input.is-disabled.is-checked .r-checkbox__inner {
  background-color: #F2F6FC;
  border-color: #DCDFE6
}

.r-checkbox__input.is-disabled.is-checked .r-checkbox__inner::after {
  border-color: #C0C4CC
}

.r-checkbox__input.is-disabled.is-indeterminate .r-checkbox__inner {
  background-color: #F2F6FC;
  border-color: #DCDFE6
}

.r-checkbox__input.is-disabled.is-indeterminate .r-checkbox__inner::before {
  background-color: #C0C4CC;
  border-color: #C0C4CC
}

.r-checkbox__input.is-checked .r-checkbox__inner,
.r-checkbox__input.is-indeterminate .r-checkbox__inner {
  background-color: #409EFF;
  border-color: #409EFF;
}
.r-checkbox__input.is-checked {
  top:　0;
  .iconfont {
    font-size: 14px;
    top: 0 !important;
  }
}

.r-checkbox__input.is-disabled+span.r-checkbox__label {
  color: #C0C4CC;
  cursor: not-allowed
}

.r-checkbox__input.is-checked .r-checkbox__inner::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1)
}

.r-checkbox__input.is-checked+.r-checkbox__label {
  color: #3169F6;
}

.r-checkbox__input.is-focus .r-checkbox__inner {
  border-color: #3169F6;
}

.r-checkbox__input.is-indeterminate .r-checkbox__inner::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #FFF;
  height: 2px;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  left: 0;
  right: 0;
  top: 5px
}

.r-checkbox__input.is-indeterminate .r-checkbox__inner::after {
  display: none
}

.r-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #DCDFE6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  z-index: 1;
  -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.r-checkbox__inner:hover {
  border-color: #409EFF
}

.r-checkbox__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 1px solid #FFF;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  -webkit-transition: -webkit-transform .15s ease-in .05s;
  transition: -webkit-transform .15s ease-in .05s;
  transition: transform .15s ease-in .05s;
  transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
  -webkit-transform-origin: center;
  transform-origin: center
}

.r-checkbox__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1
}

.r-checkbox-button,
.r-checkbox-button__inner {
  position: relative;
  display: inline-block
}

.r-checkbox__label {
  display: inline-block;
  padding-left: 10px;
  line-height: 19px;
  font-size: 14px
}

.r-checkbox:last-of-type {
  margin-right: 0
}

.r-checkbox-button__inner {
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  border-left: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0
}

.r-checkbox-button__inner.is-round {
  padding: 12px 20px
}

.r-checkbox-button__inner:hover {
  color: #409EFF
}

.r-checkbox-button__inner [class*=r-icon-] {
  line-height: .9
}

.r-checkbox-button__inner [class*=r-icon-]+span {
  margin-left: 5px
}

.r-checkbox-button__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  z-index: -1
}

.r-checkbox-button.is-checked .r-checkbox-button__inner {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
  box-shadow: -1px 0 0 0 #8cc5ff
}

.r-checkbox-button.is-checked:first-child .r-checkbox-button__inner {
  border-left-color: #409EFF
}

.r-checkbox-button.is-disabled .r-checkbox-button__inner {
  color: #C0C4CC;
  cursor: not-allowed;
  background-image: none;
  background-color: #FFF;
  border-color: #EBEEF5;
  -webkit-box-shadow: none;
  box-shadow: none
}

.r-checkbox-button.is-disabled:first-child .r-checkbox-button__inner {
  border-left-color: #EBEEF5
}

.r-checkbox-button:first-child .r-checkbox-button__inner {
  border-left: 1px solid #DCDFE6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.r-checkbox-button.is-focus .r-checkbox-button__inner {
  border-color: #409EFF
}

.r-checkbox-button:last-child .r-checkbox-button__inner {
  border-radius: 0 4px 4px 0
}

.r-checkbox-button--medium .r-checkbox-button__inner {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0
}

.r-checkbox-button--medium .r-checkbox-button__inner.is-round {
  padding: 10px 20px
}

.r-checkbox-button--small .r-checkbox-button__inner {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 0
}

.r-checkbox-button--small .r-checkbox-button__inner.is-round {
  padding: 9px 15px
}

.r-checkbox-button--mini .r-checkbox-button__inner {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0
}

.r-checkbox-button--mini .r-checkbox-button__inner.is-round {
  padding: 7px 15px
}

.r-checkbox-group {
  font-size: 0
}

.r-tag {
  background-color: #ecf5ff;
  border-color: #d9ecff;
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  color: #409EFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap
}

.r-tag.is-hit {
  border-color: #409EFF
}

.r-tag .r-tag__close {
  color: #409eff
}

.r-tag .r-tag__close:hover {
  color: #FFF;
  background-color: #409eff
}

.r-tag.r-tag--info {
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #909399
}

.r-tag.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag.r-tag--info .r-tag__close {
  color: #909399
}

.r-tag.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #909399
}

.r-tag.r-tag--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a
}

.r-tag.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag.r-tag--success .r-tag__close {
  color: #67c23a
}

.r-tag.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #67c23a
}

.r-tag.r-tag--warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
  color: #e6a23c
}

.r-tag.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag.r-tag--warning .r-tag__close {
  color: #e6a23c
}

.r-tag.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #e6a23c
}

.r-tag.r-tag--danger {
  background-color: #fef0f0;
  border-color: #fde2e2;
  color: #f56c6c
}

.r-tag.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag.r-tag--danger .r-tag__close {
  color: #f56c6c
}

.r-tag.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f56c6c
}

.r-tag .r-icon-close {
  border-radius: 50%;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  top: -1px;
  right: -5px
}

.r-tag .r-icon-close::before {
  display: block
}

.r-tag--dark {
  background-color: #409eff;
  border-color: #409eff;
  color: #fff
}

.r-tag--dark.is-hit {
  border-color: #409EFF
}

.r-tag--dark .r-tag__close {
  color: #fff
}

.r-tag--dark .r-tag__close:hover {
  color: #FFF;
  background-color: #66b1ff
}

.r-tag--dark.r-tag--info {
  background-color: #909399;
  border-color: #909399;
  color: #fff
}

.r-tag--dark.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag--dark.r-tag--info .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #a6a9ad
}

.r-tag--dark.r-tag--success {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff
}

.r-tag--dark.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag--dark.r-tag--success .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #85ce61
}

.r-tag--dark.r-tag--warning {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff
}

.r-tag--dark.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag--dark.r-tag--warning .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #ebb563
}

.r-tag--dark.r-tag--danger {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff
}

.r-tag--dark.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag--dark.r-tag--danger .r-tag__close {
  color: #fff
}

.r-tag--dark.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f78989
}

.r-tag--plain {
  background-color: #fff;
  border-color: #b3d8ff;
  color: #409eff
}

.r-tag--plain.is-hit {
  border-color: #409EFF
}

.r-tag--plain .r-tag__close {
  color: #409eff
}

.r-tag--plain .r-tag__close:hover {
  color: #FFF;
  background-color: #409eff
}

.r-tag--plain.r-tag--info {
  background-color: #fff;
  border-color: #d3d4d6;
  color: #909399
}

.r-tag--plain.r-tag--info.is-hit {
  border-color: #909399
}

.r-tag--plain.r-tag--info .r-tag__close {
  color: #909399
}

.r-tag--plain.r-tag--info .r-tag__close:hover {
  color: #FFF;
  background-color: #909399
}

.r-tag--plain.r-tag--success {
  background-color: #fff;
  border-color: #c2e7b0;
  color: #67c23a
}

.r-tag--plain.r-tag--success.is-hit {
  border-color: #67C23A
}

.r-tag--plain.r-tag--success .r-tag__close {
  color: #67c23a
}

.r-tag--plain.r-tag--success .r-tag__close:hover {
  color: #FFF;
  background-color: #67c23a
}

.r-tag--plain.r-tag--warning {
  background-color: #fff;
  border-color: #f5dab1;
  color: #e6a23c
}

.r-tag--plain.r-tag--warning.is-hit {
  border-color: #E6A23C
}

.r-tag--plain.r-tag--warning .r-tag__close {
  color: #e6a23c
}

.r-tag--plain.r-tag--warning .r-tag__close:hover {
  color: #FFF;
  background-color: #e6a23c
}

.r-tag--plain.r-tag--danger {
  background-color: #fff;
  border-color: #fbc4c4;
  color: #f56c6c
}

.r-tag--plain.r-tag--danger.is-hit {
  border-color: #F56C6C
}

.r-tag--plain.r-tag--danger .r-tag__close {
  color: #f56c6c
}

.r-tag--plain.r-tag--danger .r-tag__close:hover {
  color: #FFF;
  background-color: #f56c6c
}

.r-tag--medium {
  height: 28px;
  line-height: 26px
}

.r-tag--medium .r-icon-close {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.r-tag--small {
  height: 24px;
  padding: 0 8px;
  line-height: 22px
}

.r-tag--small .r-icon-close {
  -webkit-transform: scale(.8);
  transform: scale(.8)
}

.r-tag--mini {
  height: 20px;
  padding: 0 5px;
  line-height: 19px
}

.r-tag--mini .r-icon-close {
  margin-left: -3px;
  -webkit-transform: scale(.7);
  transform: scale(.7)
}

.r-tooltip:focus:hover,
.r-tooltip:focus:not(.focusing) {
  outline-width: 0
}

.r-tooltip__popper {
  position: absolute;
  border-radius: 4px;
  padding: 10px;
  z-index: 2000;
  font-size: 12px;
  line-height: 1.2;
  min-width: 10px;
  word-wrap: break-word
}

.r-tooltip__popper .popper__arrow,
.r-tooltip__popper .popper__arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.r-tooltip__popper .popper__arrow {
  border-width: 6px
}

.r-tooltip__popper .popper__arrow::after {
  content: " ";
  border-width: 5px
}

.r-tooltip__popper[x-placement^=top] {
  margin-bottom: 12px
}

.r-tooltip__popper[x-placement^=top] .popper__arrow {
  bottom: -6px;
  border-top-color: #303133;
  border-bottom-width: 0
}

.r-tooltip__popper[x-placement^=top] .popper__arrow::after {
  bottom: 1px;
  margin-left: -5px;
  border-top-color: #303133;
  border-bottom-width: 0
}

.r-tooltip__popper[x-placement^=bottom] {
  margin-top: 12px
}

.r-tooltip__popper[x-placement^=bottom] .popper__arrow {
  top: -6px;
  border-top-width: 0;
  border-bottom-color: #303133
}

.r-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -5px;
  border-top-width: 0;
  border-bottom-color: #303133
}

.r-tooltip__popper[x-placement^=right] {
  margin-left: 12px
}

.r-tooltip__popper[x-placement^=right] .popper__arrow {
  left: -6px;
  border-right-color: #303133;
  border-left-width: 0
}

.r-tooltip__popper[x-placement^=right] .popper__arrow::after {
  bottom: -5px;
  left: 1px;
  border-right-color: #303133;
  border-left-width: 0
}

.r-tooltip__popper[x-placement^=left] {
  margin-right: 12px
}

.r-tooltip__popper[x-placement^=left] .popper__arrow {
  right: -6px;
  border-right-width: 0;
  border-left-color: #303133
}

.r-tooltip__popper[x-placement^=left] .popper__arrow::after {
  right: 1px;
  bottom: -5px;
  margin-left: -5px;
  border-right-width: 0;
  border-left-color: #303133
}

.r-tooltip__popper.is-dark {
  background: #303133;
  color: #FFF
}

.r-table,
.r-table__expanded-cell {
  background-color: #FFF
}

.r-tooltip__popper.is-light {
  background: #FFF;
  border: 1px solid #303133
}

.r-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
  border-top-color: #303133
}

.r-tooltip__popper.is-light[x-placement^=top] .popper__arrow::after {
  border-top-color: #FFF
}

.r-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #303133
}

.r-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #FFF
}

.r-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
  border-left-color: #303133
}

.r-tooltip__popper.is-light[x-placement^=left] .popper__arrow::after {
  border-left-color: #FFF
}

.r-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
  border-right-color: #303133
}

.r-tooltip__popper.is-light[x-placement^=right] .popper__arrow::after {
  border-right-color: #FFF
}

.r-table {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  color: #606266;
  thead th {
    padding: 0;
    font-weight: normal;
  }
}

.r-table--mini,
.r-table--small,
.r-table__expand-icon {
  font-size: 12px
}

.r-table__empty-block {
  min-height: 60px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.r-table__empty-text {
  position: fixed;
  left: 0;
  right: 0;
  margin: 25px auto 40px;
  z-index: 0;
  height: 0;
  width: 50%;
  color: #909399
}

.r-table__expand-column .cell {
  padding: 0;
  text-align: center
}

.r-table__expand-icon {
  position: relative;
  cursor: pointer;
  color: #666;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  height: 20px
}

.r-table__expand-icon--expanded {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.r-table__expand-icon>.r-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px
}

.r-table__expanded-cell[class*=cell] {
  padding: 20px 50px
}

.r-table__expanded-cell:hover {
  background-color: transparent !important
}

.r-table__placeholder {
  display: inline-block;
  width: 20px
}

.r-table--fit {
  border-right: 0;
  border-bottom: 0
}

.r-table--fit td.gutter,
.r-table--fit th.gutter {
  border-right-width: 1px
}

.r-table--scrollable-x .r-table__body-wrapper {
  overflow-x: auto
}

.r-table--scrollable-y .r-table__body-wrapper {
  overflow-y: auto
}

.r-table thead {
  color: #909399;
  font-weight: 500
}

.r-table thead.is-group th {
  background: #F5F7FA
}

.r-table th,
.r-table tr {
  background-color: #FFF
}

.r-table td,
.r-table th {
  padding: 12px 0;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left
}

.r-table td.is-center,
.r-table th.is-center {
  text-align: center
}

.r-table td.is-right,
.r-table th.is-right {
  text-align: right
}

.r-table td.gutter,
.r-table th.gutter {
  width: 15px;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0
}

.r-table--medium td,
.r-table--medium th {
  padding: 10px 0
}

.r-table--small td,
.r-table--small th {
  padding: 8px 0
}

.r-table--mini td,
.r-table--mini th {
  padding: 6px 0
}

.r-table .cell,
.r-table--border td:first-child .cell,
.r-table--border th:first-child .cell {
  padding-left: 10px
}

.r-table tr input[type=checkbox] {
  margin: 0
}

.r-table td,
.r-table th.is-leaf {
  border-bottom: 1px solid #EBEEF5
}

.r-table th.is-sortable {
  cursor: pointer
}

.r-table th {
  overflow: hidden;
  user-select: none
}

.r-table th>.cell {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%
}

.r-table th>.cell.highlight {
  color: #409EFF
}

.r-table th.required>div::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d51;
  margin-right: 5px;
  vertical-align: middle
}

.r-table td div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.r-table td.gutter {
  width: 0
}

.r-table .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding-right: 10px
}

.r-table .cell.r-tooltip {
  white-space: nowrap;
  min-width: 50px
}

.r-table--border,
.r-table--group {
  border: 1px solid #EBEEF5
}

.r-table--border::after,
.r-table--group::after,
.r-table::before {
  content: '';
  position: absolute;
  background-color: #EBEEF5;
  z-index: 1
}

.r-table--border::after,
.r-table--group::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%
}

.r-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px
}

.r-table--border {
  border-right: none;
  border-bottom: none
}

.r-table--border.r-loading-parent--relative {
  border-color: transparent
}

.r-table--border td,
.r-table--border th,
.r-table__body-wrapper .r-table--border.is-scrolling-left~.r-table__fixed {
  border-right: 1px solid #EBEEF5
}

.r-table--border th.gutter:last-of-type {
  border-bottom: 1px solid #EBEEF5;
  border-bottom-width: 1px
}

.r-table--border th,
.r-table__fixed-right-patch {
  border-bottom: 1px solid #EBEEF5
}

.r-table__fixed,
.r-table__fixed-right {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
  box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.r-table__fixed-right::before,
.r-table__fixed::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #EBEEF5;
  z-index: 4
}

.r-table__fixed-right-patch {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #FFF
}

.r-table__fixed-right {
  top: 0;
  left: auto;
  right: 0
}

.r-table__fixed-right .r-table__fixed-body-wrapper,
.r-table__fixed-right .r-table__fixed-footer-wrapper,
.r-table__fixed-right .r-table__fixed-header-wrapper {
  left: auto;
  right: 0
}

.r-table__fixed-header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3
}

.r-table__fixed-footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3
}

.r-table__fixed-footer-wrapper tbody td {
  border-top: 1px solid #EBEEF5;
  background-color: #F5F7FA;
  color: #606266
}

.r-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 37px;
  overflow: hidden;
  z-index: 3
}

.r-table__body-wrapper,
.r-table__footer-wrapper,
.r-table__header-wrapper {
  width: 100%
}

.r-table__footer-wrapper {
  margin-top: -1px
}

.r-table__footer-wrapper td {
  border-top: 1px solid #EBEEF5
}

.r-table__body,
.r-table__footer,
.r-table__header {
  table-layout: fixed;
  border-collapse: separate
}

.r-table__footer-wrapper,
.r-table__header-wrapper {
  overflow: hidden
}

.r-table__footer-wrapper tbody td,
.r-table__header-wrapper tbody td {
  background-color: #F5F7FA;
  color: #606266
}

.r-table__body-wrapper {
  overflow: hidden;
  position: relative
}

.r-table__body-wrapper.is-scrolling-left~.r-table__fixed,
.r-table__body-wrapper.is-scrolling-none~.r-table__fixed,
.r-table__body-wrapper.is-scrolling-none~.r-table__fixed-right,
.r-table__body-wrapper.is-scrolling-right~.r-table__fixed-right {
  -webkit-box-shadow: none;
  box-shadow: none
}

.r-table__body-wrapper .r-table--border.is-scrolling-right~.r-table__fixed-right {
  border-left: 1px solid #EBEEF5
}

.r-table .caret-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative
}

.r-table .sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px
}

.r-table .sort-caret.ascending {
  border-bottom-color: #C0C4CC;
  top: 5px
}

.r-table .sort-caret.descending {
  border-top-color: #C0C4CC;
  bottom: 7px
}

.r-table .ascending .sort-caret.ascending {
  border-bottom-color: #409EFF
}

.r-table .descending .sort-caret.descending {
  border-top-color: #409EFF
}

.r-table .hidden-columns {
  visibility: hidden;
  position: absolute;
  z-index: -1
}

.r-table--striped .r-table__body tr.r-table__row--striped td {
  background: #FAFAFA
}

.r-table--striped .r-table__body tr.r-table__row--striped.current-row td {
  background-color: $table-current-row-bg
}

.r-table__body tr:not(.current-row).hover-row>td,
.r-table__body tr:not(.current-row).hover-row.r-table__row--striped>td,
.r-table__body tr.hover-row.r-table__row--striped>td,
.r-table__body tr.hover-row>td {
  background-color: rgba(49, 105, 246, .1);
}

.r-table__body tr.current-row>td {
  background-color: $table-current-row-bg
}

.r-table__column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #EBEEF5;
  z-index: 10
}

.r-table__column-filter-trigger {
  display: inline-block;
  line-height: 34px;
  cursor: pointer
}

.r-table__column-filter-trigger i {
  color: #909399;
  font-size: 12px;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.r-table--enable-row-transition .r-table__body td {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease
}

.r-table--enable-row-hover .r-table__body tr:not(.current-row):hover>td {
  background-color: rgba(49, 105, 246, .1);
  color: $font-color-important;
}

.r-table--fluid-height .r-table__fixed,
.r-table--fluid-height .r-table__fixed-right {
  bottom: 0;
  overflow: hidden
}

.r-table [class*=el-table__row--level] .r-table__expand-icon {
  display: inline-block;
  width: 20px;
  line-height: 20px;
  height: 20px;
  text-align: center;
  margin-right: 3px
}
